<!DOCTYPE html>
<html lang="en">

<head>
    <title>Node Client Side App for Docker Assignment</title>
    <meta http-equiv="refresh" content="5">
</head>

<body>
    Created by: {{name}}
    <ol>
        {{#each data}}
        <li>{{this}}</li>
        {{/each}}
    </ol>
</body>

</html>